* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: Montserrat;
  src: url("../src/assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../src/assets/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("../src/assets/fonts/Montserrat-Medium.ttf");
}
